/* Application-wide Styles */
h1 {
  display: flex;
  color: #369;
  font-family: 'Trebuchet MS';
  font-size: 275%;
}
h2, h3 {
  color: #444;
  font-family: 'Trebuchet MS';
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: 'Trebuchet MS';
}